fastapi>=0.115.0
httpx>=0.28.0
huggingface_hub>=0.20.0
modelscope==1.33.0
pystun3==2.0.0
requests>=2.32.5
safetensors>=0.4.0
sqlmodel>=0.0.22
toml==0.10.2
torch==2.2.2
torchinfo==1.8.0
transformers>=4.38.0
uvicorn>=0.34.0
websocket_client==1.8.0
